USER_ID=

ADMIN_HOST=local-hi-admin.wehost.asia
THERAPIST_HOST=local-hi-therapist.wehost.asia
PATIENT_HOST=local-hi-patient.wehost.asia
PHONE_HOST=local-hi-phone.wehost.asia
LIBRARY_HOST=local-hi-library.wehost.asia

NONHI_ADMIN_HOST=local-nonhi-admin.wehost.asia
NONHI_THERAPIST_HOST=local-nonhi-therapist.wehost.asia
NONHI_PATIENT=local-nonhi-patient.wehost.asia

ROCKETCHAT_HOST=local-hi-chat.wehost.asia

DB_ROOT_PASS=root

KC_SERVICE_DB_NAME=keycloak_db
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASS=keycloak

KC_ADMIN_USER=admin
KC_ADMIN_PASS=KC@Admin

KC_IDP_MAPPING_SAML=@hi.org,@external.hi.org
KC_IDP_MAPPING_OIDC=

ADMIN_SERVICE_NAME=admin_service
ADMIN_SERVICE_DB_NAME=admin_service_db
ADMIN_DB_NAME=admin_service
ADMIN_DB_USER=admin_service
ADMIN_DB_PASS=admin_service

THERAPIST_SERVICE_NAME=therapist_service
THERAPIST_SERVICE_DB_NAME=therapist_service_db
THERAPIST_DB_NAME=therapist_service
THERAPIST_DB_USER=therapist_service
THERAPIST_DB_PASS=therapist_service

PATIENT_SERVICE_NAME=patient_service
PATIENT_SERVICE_DB_NAME=patient_service_db
PATIENT_DB_NAME=patient_service
PATIENT_DB_USER=patient_service
PATIENT_DB_PASS=patient_service

VNPATIENT_SERVICE_NAME=patient_vn_service
VNPATIENT_SERVICE_DB_NAME=vn_patient_service_db
VNPATIENT_DB_NAME=patient_service
VNPATIENT_DB_USER=patient_service
VNPATIENT_DB_PASS=patient_service

PHONE_SERVICE_NAME=phone_service
PHONE_SERVICE_DB_NAME=phone_service_db
PHONE_DB_NAME=phone_service
PHONE_DB_USER=phone_service
PHONE_DB_PASS=phone_service

OPEN_LIBRARY_SERVICE_NAME=library_service
OPEN_LIBRARY_SERVICE_DB_NAME=open_library_service_db
LIBRARY_DB_NAME=open_library_service
LIBRARY_DB_USER=open_library_service
LIBRARY_DB_PASS=open_library_service

ROCKETCHAT_SERVICE_NAME=rocketchat
MONGO_SERVICE_NAME=mongo

ADMIN_WEB_APP_NAME=admin_web_app
THERAPIST_WEB_APP_NAME=therapist_web_app
LIBRARY_WEB_APP_NAME=library_web_app
