---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-webclient
  namespace: hiv
data:
  default: |
    charset utf-8;

    tcp_nopush on;
    tcp_nodelay off;
    client_header_timeout 300s;
    client_body_timeout 300s;
    proxy_read_timeout 3600s;
    client_max_body_size 1024k;
    reset_timedout_connection on;

    # Enable gzip compression.
    gzip on;
    gzip_comp_level 5;
    gzip_min_length 256;
    gzip_proxied any;
    gzip_vary on;

    gzip_types
        text/css
        text/javascript
        text/xml
        text/plain
        application/javascript
        application/x-javascript
        application/json
        application/xml
        application/rss+xml
        application/atom+xml
        font/truetype
        font/opentype
        image/svg+xml;

    server {
      listen 80;
      server_name {{ admin_webapp_url }};
      root /usr/share/nginx/html;

      access_log /var/log/nginx/nginx.access.log;
      error_log /var/log/nginx/nginx.error.log;

      error_page 404 @rewrites;

      location / {

        proxy_pass   http://{{ admin_webapp_service }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;
        proxy_set_header Host $host;
        proxy_redirect          off;
        proxy_connect_timeout   300;
        proxy_send_timeout      300;
        proxy_read_timeout      300;
        send_timeout            300;
      }
    }

    server {
      listen 80;
      server_name {{ keycloak_url }};
      root /usr/share/nginx/html;

      access_log /var/log/nginx/nginx.access.log;
      error_log /var/log/nginx/nginx.error.log;

      error_page 404 @rewrites;

      # Keycloak
      location /auth/ {

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_cookie_path ~^/(.+)$ "/$1; SameSite=none; Secure; ";

        proxy_buffer_size          128k;
        proxy_buffers              4 256k;
        proxy_busy_buffers_size    256k;
        proxy_pass_request_headers on;
        proxy_pass   http://{{ keycloak_service }}/auth/;
      }
    }

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-admin-service-env
  namespace: hiv
data:
  admin-service-env: |
    APP_NAME=HI
    APP_ENV=production
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=https://{{ admin_webapp_url }}

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE={{ my_adminservice_db }}
    DB_USERNAME={{ my_adminservice_user }}
    DB_PASSWORD={{ my_adminservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    KEYCLOAK_URL=http://{{ keycloak_service }}
    KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_realm_public_key }}
    KEYCLOAK_ALLOWED_RESOURCES=account
    KEYCLOAK_LOAD_USER_FROM_DATABASE=true
    KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
    KEYCLOAK_BACKEND_CLIENT=hi_backend
    KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_backend_secret }}
    KEYCLOAK_BACKEND_USERNAME=hi_backend
    KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
    KEYCLOAK_REAMLS_NAME=hi

    REACT_APP_BASE_URL=https://{{ admin_webapp_url }}/

    # Thumbnail image dimensions
    THUMBNAIL_IMAGE_WIDTH=320
    THUMBNAIL_IMAGE_HEIGHT=240

    # Watermark image
    WATERMARK_IMAGE=true
    WATERMARK_PATH=/var/www/storage/app/asset/play_button.png

    # Custom FFMPEG binaries path
    FFMPEG_BINARIES=true
    FFMPEG_PATH=/usr/bin/ffmpeg
    FFPROBE_PATH=/usr/bin/ffprobe
    FFMPEG_TIMEOUT=3600
    FFMPEG_THREADS=12

    THERAPIST_APP_URL=https://{{ therapist_webapp_url }}
    ADMIN_SERVICE_URL=http://{{ krakend_service }}:8000/admin
    THERAPIST_SERVICE_URL=http://{{ krakend_service }}:8000/therapist
    PATIENT_SERVICE_URL=http://{{ krakend_service }}:8000/patient

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-hicadmin-service-env
  namespace: hiv
data:
  hicadmin-service-env: |
    APP_NAME=HI
    APP_ENV=production
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=https://{{ hicadmin_webapp_url }}
    APP_API_BASE_URL="https://{{ hicadmin_webapp_url }}/api/library"

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE={{ my_hicadminservice_db }}
    DB_USERNAME={{ my_hicadminservice_user }}
    DB_PASSWORD={{ my_hicadminservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=database
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST={{ smtp_host }}
    MAIL_PORT={{ smtp_port }}
    MAIL_USERNAME={{ smtp_user }}
    MAIL_PASSWORD={{ smtp_pass }}
    MAIL_ENCRYPTION={{ smtp_encryption }}
    MAIL_FROM_ADDRESS={{ smtp_mail_from_address }}
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    KEYCLOAK_URL=http://{{ keycloak_service }}
    KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_library_realm_public_key }}
    KEYCLOAK_ALLOWED_RESOURCES=account
    KEYCLOAK_LOAD_USER_FROM_DATABASE=true
    KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
    KEYCLOAK_BACKEND_CLIENT=hi_backend
    KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_library_backend_secret }}
    KEYCLOAK_BACKEND_USERNAME=hi_backend
    KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
    KEYCLOAK_REAMLS_NAME=hi-library

    REACT_APP_BASE_URL=https://{{ hicadmin_webapp_url }}/
    REACT_APP_CONTRIBUTE_CONFIRM_URL=https://{{ hicadmin_webapp_url }}/contribute/confirm-submission

    # Thumbnail image dimensions
    THUMBNAIL_IMAGE_WIDTH=320
    THUMBNAIL_IMAGE_HEIGHT=240

    # Watermark image
    WATERMARK_IMAGE=true
    WATERMARK_PATH=/var/www/storage/app/asset/play_button.png

    # Custom FFMPEG binaries path
    FFMPEG_BINARIES=true
    FFMPEG_PATH=/usr/bin/ffmpeg
    FFPROBE_PATH=/usr/bin/ffprobe
    FFMPEG_TIMEOUT=3600
    FFMPEG_THREADS=12

    THERAPIST_SERVICE_URL=http://{{ therapist_service }}
    PATIENT_SERVICE_URL=http://{{ patient_service }}
    THERAPIST_APP_URL=https://{{ therapist_webapp_url }}
    ADMIN_SERVICE_URL=http://{{ admin_service }}

    GOOGLE_TRANSLATE_API_KEY={{ google_translate_api_key }}

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-admin-service-env-dusk-local
  namespace: hiv
data:
  admin-service-env-dusk-local: |
    APP_NAME=HI
        APP_ENV=testing
        APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
        APP_DEBUG=false
        APP_URL=https://{{ admin_webapp_url }}

        LOG_CHANNEL=stack

        DB_CONNECTION=mysql
        DB_HOST={{ my_host }}
        DB_PORT=3306
        DB_DATABASE={{ my_adminservice_db }}
        DB_USERNAME={{ my_adminservice_user }}
        DB_PASSWORD={{ my_adminservice_pass }}

        BROADCAST_DRIVER=log
        CACHE_DRIVER=file
        QUEUE_CONNECTION=sync
        SESSION_DRIVER=file
        SESSION_LIFETIME=120

        REDIS_HOST=127.0.0.1
        REDIS_PASSWORD=null
        REDIS_PORT=6379

        MAIL_MAILER=smtp
        MAIL_HOST=smtp.mailtrap.io
        MAIL_PORT=2525
        MAIL_USERNAME=null
        MAIL_PASSWORD=null
        MAIL_ENCRYPTION=null
        MAIL_FROM_ADDRESS=null
        MAIL_FROM_NAME="${APP_NAME}"

        AWS_ACCESS_KEY_ID=
        AWS_SECRET_ACCESS_KEY=
        AWS_DEFAULT_REGION=us-east-1
        AWS_BUCKET=

        PUSHER_APP_ID=
        PUSHER_APP_KEY=
        PUSHER_APP_SECRET=
        PUSHER_APP_CLUSTER=mt1

        MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
        MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

        KEYCLOAK_URL=http://{{ keycloak_service }}
        KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_realm_public_key }}
        KEYCLOAK_ALLOWED_RESOURCES=account
        KEYCLOAK_LOAD_USER_FROM_DATABASE=true
        KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
        KEYCLOAK_BACKEND_CLIENT=hi_backend
        KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_backend_secret }}
        KEYCLOAK_BACKEND_USERNAME=hi_backend
        KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
        KEYCLOAK_REAMLS_NAME=hi

        REACT_APP_BASE_URL=https://{{ admin_webapp_url }}/

        # Thumbnail image dimensions
        THUMBNAIL_IMAGE_WIDTH=320
        THUMBNAIL_IMAGE_HEIGHT=240

        # Watermark image
        WATERMARK_IMAGE=true
        WATERMARK_PATH=/var/www/storage/app/asset/play_button.png

        # Custom FFMPEG binaries path
        FFMPEG_BINARIES=true
        FFMPEG_PATH=/usr/bin/ffmpeg
        FFPROBE_PATH=/usr/bin/ffprobe
        FFMPEG_TIMEOUT=3600
        FFMPEG_THREADS=12



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-hicadmin-service-env-dusk-local
  namespace: hiv
data:
  hicadmin-service-env-dusk-local: |
    APP_NAME=HI
        APP_ENV=testing
        APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
        APP_DEBUG=false
        APP_URL=https://{{ hicadmin_webapp_url }}

        LOG_CHANNEL=stack

        DB_CONNECTION=mysql
        DB_HOST={{ my_host }}
        DB_PORT=3306
        DB_DATABASE={{ my_hicadminservice_db }}
        DB_USERNAME={{ my_hicadminservice_user }}
        DB_PASSWORD={{ my_hicadminservice_pass }}

        BROADCAST_DRIVER=log
        CACHE_DRIVER=file
        QUEUE_CONNECTION=sync
        SESSION_DRIVER=file
        SESSION_LIFETIME=120

        REDIS_HOST=127.0.0.1
        REDIS_PASSWORD=null
        REDIS_PORT=6379

        MAIL_MAILER=smtp
        MAIL_HOST=smtp.mailtrap.io
        MAIL_PORT=2525
        MAIL_USERNAME=null
        MAIL_PASSWORD=null
        MAIL_ENCRYPTION=null
        MAIL_FROM_ADDRESS=null
        MAIL_FROM_NAME="${APP_NAME}"

        AWS_ACCESS_KEY_ID=
        AWS_SECRET_ACCESS_KEY=
        AWS_DEFAULT_REGION=us-east-1
        AWS_BUCKET=

        PUSHER_APP_ID=
        PUSHER_APP_KEY=
        PUSHER_APP_SECRET=
        PUSHER_APP_CLUSTER=mt1

        MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
        MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

        KEYCLOAK_URL=http://{{ keycloak_service }}
        KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_realm_public_key }}
        KEYCLOAK_ALLOWED_RESOURCES=account
        KEYCLOAK_LOAD_USER_FROM_DATABASE=true
        KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
        KEYCLOAK_BACKEND_CLIENT=hi_backend
        KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_backend_secret }}
        KEYCLOAK_BACKEND_USERNAME=hi_backend
        KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
        KEYCLOAK_REAMLS_NAME=hi

        REACT_APP_BASE_URL=https://{{ hicadmin_webapp_url }}/

        # Thumbnail image dimensions
        THUMBNAIL_IMAGE_WIDTH=320
        THUMBNAIL_IMAGE_HEIGHT=240

        # Watermark image
        WATERMARK_IMAGE=true
        WATERMARK_PATH=/var/www/storage/app/asset/play_button.png

        # Custom FFMPEG binaries path
        FFMPEG_BINARIES=true
        FFMPEG_PATH=/usr/bin/ffmpeg
        FFPROBE_PATH=/usr/bin/ffprobe
        FFMPEG_TIMEOUT=3600
        FFMPEG_THREADS=12



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-therapist-service-env-dusk-local
  namespace: hiv
data:
  therapist-service-env-dusk-local: |
     APP_NAME=HI
        APP_ENV=testing
        APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
        APP_DEBUG=false
        APP_URL=http://localhost

        LOG_CHANNEL=stack

        DB_CONNECTION=mysql
        DB_HOST={{ my_host }}
        DB_PORT=3306
        DB_DATABASE={{ my_therapistservice_db }}
        DB_USERNAME={{ my_therapistservice_user }}
        DB_PASSWORD={{ my_therapistservice_pass }}

        BROADCAST_DRIVER=log
        CACHE_DRIVER=file
        QUEUE_CONNECTION=sync
        SESSION_DRIVER=file
        SESSION_LIFETIME=120

        REDIS_HOST=127.0.0.1
        REDIS_PASSWORD=null
        REDIS_PORT=6379

        MAIL_MAILER=smtp
        MAIL_HOST=smtp.mailtrap.io
        MAIL_PORT=2525
        MAIL_USERNAME=null
        MAIL_PASSWORD=null
        MAIL_ENCRYPTION=null
        MAIL_FROM_ADDRESS=null
        MAIL_FROM_NAME="${APP_NAME}"

        AWS_ACCESS_KEY_ID=
        AWS_SECRET_ACCESS_KEY=
        AWS_DEFAULT_REGION=us-east-1
        AWS_BUCKET=

        PUSHER_APP_ID=
        PUSHER_APP_KEY=
        PUSHER_APP_SECRET=
        PUSHER_APP_CLUSTER=mt1

        MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
        MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

        KEYCLOAK_URL=http://{{ keycloak_service }}
        KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_therapist_realm_public_key }}
        KEYCLOAK_ALLOWED_RESOURCES=account
        KEYCLOAK_LOAD_USER_FROM_DATABASE=true
        KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
        KEYCLOAK_BACKEND_CLIENT=hi_backend
        KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_therapistbackend_secret }}
        KEYCLOAK_BACKEND_USERNAME=hi_backend
        KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
        KEYCLOAK_REAMLS_NAME=hi-therapist

        REACT_APP_BASE_URL=https://{{ therapist_webapp_url }}/
        ADMIN_SERVICE_URL=http://{{ admin_service }}

        ROCKET_CHAT_URL=http://{{ rocketchat_service }}
        ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
        ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
        ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-therapist-service-env
  namespace: hiv
data:
  therapist-service-env: |
    APP_NAME=HI
    APP_ENV=production
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=http://localhost

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE={{ my_therapistservice_db }}
    DB_USERNAME={{ my_therapistservice_user }}
    DB_PASSWORD={{ my_therapistservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID={{ pusher_app_id }}
    PUSHER_APP_KEY={{ pusher_app_key }}
    PUSHER_APP_SECRET={{ pusher_app_secret }}
    PUSHER_APP_CLUSTER=ap1
    BROADCAST_DRIVER=pusher

    KEYCLOAK_URL=http://{{ keycloak_service }}
    KEYCLOAK_REALM_PUBLIC_KEY={{ keycloak_hi_therapist_realm_public_key }}
    KEYCLOAK_ALLOWED_RESOURCES=account
    KEYCLOAK_LOAD_USER_FROM_DATABASE=true
    KEYCLOAK_USER_PROVIDER_CREDENTIAL=email
    KEYCLOAK_BACKEND_CLIENT=hi_backend
    KEYCLOAK_BACKEND_SECRET={{ keycloak_hi_therapistbackend_secret }}
    KEYCLOAK_BACKEND_USERNAME=hi_backend
    KEYCLOAK_BACKEND_PASSWORD=hi_backendPWD
    KEYCLOAK_REAMLS_NAME=hi-therapist

    REACT_APP_BASE_URL=https://{{ therapist_webapp_url }}/
    ADMIN_SERVICE_URL=http://{{ krakend_service }}:8000/admin
    PATIENT_SERVICE_URL=http://{{ krakend_service }}:8000/patient

    ROCKET_CHAT_URL=http://{{ rocketchat_service }}
    ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
    ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
    ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-patient-service-env
  namespace: hiv
data:
  patient-service-env: |
    APP_NAME=HI
    APP_ENV=production
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=http://localhost

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE={{ my_patientservice_db }}
    DB_USERNAME={{ my_patientservice_user }}
    DB_PASSWORD={{ my_patientservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    SMS_SID={{ sms_sid }}
    SMS_TOKEN={{ sms_token }}
    SMS_VERIFY_SERVICE_SID={{ sms_verify_service_sid }}
    SMS_VERIFY_EXCLUDE_NUMBERS={{ sms_verify_exclude_numbers }}

    ADMIN_SERVICE_URL=http://{{ admin_service }}
    THERAPIST_SERVICE_URL=http://{{ therapist_service }}
    PATIENT_SERVICE_URL=http://{{ patient_service }}

    ROCKET_CHAT_URL=http://{{ rocketchat_service }}
    ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
    ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
    ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-patient-service-dusk-local
  namespace: hiv
data:
  patient-service-dusk-local: |
    APP_NAME=HI
    APP_ENV=testing
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=http://localhost

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE={{ my_patientservice_db }}
    DB_USERNAME={{ my_patientservice_user }}
    DB_PASSWORD={{ my_patientservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    SMS_SID={{ sms_sid }}
    SMS_TOKEN={{ sms_token }}
    SMS_VERIFY_SERVICE_SID={{ sms_verify_service_sid }}
    SMS_VERIFY_EXCLUDE_NUMBERS={{ sms_verify_exclude_numbers }}

    ADMIN_SERVICE_URL=http://{{ admin_service }}
    THERAPIST_SERVICE_URL=http://{{ therapist_service }}

    ROCKET_CHAT_URL=http://{{ rocketchat_service }}
    ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
    ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
    ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-vn-patient-service-env
  namespace: hiv
data:
  vn-patient-service-env: |
    APP_NAME=HI
    APP_ENV=production
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=http://localhost

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE=vn_{{ my_patientservice_db }}
    DB_USERNAME=vn_{{ my_patientservice_user }}
    DB_PASSWORD=vn_{{ my_patientservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    SMS_SID={{ sms_sid }}
    SMS_TOKEN={{ sms_token }}
    SMS_VERIFY_SERVICE_SID={{ sms_verify_service_sid }}
    SMS_VERIFY_EXCLUDE_NUMBERS={{ sms_verify_exclude_numbers }}

    ADMIN_SERVICE_URL=http://{{ admin_service }}
    THERAPIST_SERVICE_URL=http://{{ therapist_service }}

    ROCKET_CHAT_URL=http://{{ rocketchat_service }}
    ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
    ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
    ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-vn-patient-service-dusk-local
  namespace: hiv
data:
  vn-patient-service-dusk-local: |
    APP_NAME=HI
    APP_ENV=testing
    APP_KEY=base64:cYp7oHl1O8HfKTFjpuY/amT2KNyyHcX0SqqSlg24pBM=
    APP_DEBUG=false
    APP_URL=http://localhost

    LOG_CHANNEL=stack

    DB_CONNECTION=mysql
    DB_HOST={{ my_host }}
    DB_PORT=3306
    DB_DATABASE=vn_{{ my_patientservice_db }}
    DB_USERNAME=vn_{{ my_patientservice_user }}
    DB_PASSWORD=vn_{{ my_patientservice_pass }}

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=null
    REDIS_PORT=6379

    MAIL_MAILER=smtp
    MAIL_HOST=smtp.mailtrap.io
    MAIL_PORT=2525
    MAIL_USERNAME=null
    MAIL_PASSWORD=null
    MAIL_ENCRYPTION=null
    MAIL_FROM_ADDRESS=null
    MAIL_FROM_NAME="${APP_NAME}"

    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=us-east-1
    AWS_BUCKET=

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

    SMS_SID={{ sms_sid }}
    SMS_TOKEN={{ sms_token }}
    SMS_VERIFY_SERVICE_SID={{ sms_verify_service_sid }}
    SMS_VERIFY_EXCLUDE_NUMBERS={{ sms_verify_exclude_numbers }}

    ADMIN_SERVICE_URL=http://{{ admin_service }}
    THERAPIST_SERVICE_URL=http://{{ therapist_service }}

    ROCKET_CHAT_URL=http://{{ rocketchat_service }}
    ROCKET_CHAT_ADMIN_USER_ID={{ rocketchat_admin_user_id }}
    ROCKET_CHAT_ADMIN_AUTH_TOKEN={{ rocketchat_admin_auth_token }}
    ROCKET_CHAT_ADMIN_PASSWORD={{ rocketchat_admin_pass }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-keycloak-theme-properties
  namespace: hiv
data:
  theme-properties: |
    parent=keycloak
    import=common/keycloak
    styles=css/login.css
    ADMIN_APP_URL=https://{{ admin_webapp_url }}
    THERAPIST_APP_URL=https://{{ therapist_webapp_url }}
    LIBRARY_APP_URL=https://{{ hicadmin_webapp_url }}



---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-{{ stage }}-{{ project_name }}-jitsi-env
  namespace: hiv
data:
  # shellcheck disable: SC2034

  # Security
  #
  # Set these to strong passwords to avoid intruders from impersonating a service account
  # The service(s) won't start unless these are specified
  # Running ./gen-passwords.sh will update .env with strong passwords
  # You may skip the Jigasi and Jibri passwords if you are not using those
  # DO NOT reuse passwords
  #

  # XMPP component password for Jicofo
  JICOFO_COMPONENT_SECRET: 'a65b7dab59c51d570090f79cb66da411'

  # XMPP password for Jicofo client connections
  JICOFO_AUTH_PASSWORD: 'dcc06598f50a639b9fdc5c4c44ed31c6'

  # XMPP password for JVB client connections
  JVB_AUTH_PASSWORD: 'cce6497a4c9a73c8cf5e8bfb4abb8630'

  # XMPP password for Jigasi MUC client connections
  JIGASI_XMPP_PASSWORD: 'ceb25fa58df1a832fcf2244a1a82d7c3'

  # XMPP recorder password for Jibri client connections
  JIBRI_RECORDER_PASSWORD: 'af087492a5a354cce6de9dbce680f85f'

  # XMPP password for Jibri client connections
  JIBRI_XMPP_PASSWORD: '9add7c3299c172dc60d05d272a8b855c'


  #
  # Basic configuration options
  #

  # Directory where all configuration will be stored
  #CONFIG: '.jitsi-meet-cfg'

  # Exposed HTTP port
  HTTP_PORT: '8000'

  # Exposed HTTPS port
  HTTPS_PORT: '8443'

  # System time zone
  TZ: 'Asia/Phnom_Penh'

  # Public URL for the web service (required)
  PUBLIC_URL: 'https://{{ stage }}-meet-rehabilitation.wehost.asia'

  # IP address of the Docker host
  # See the "Running behind NAT or on a LAN environment" section in the Handbook:
  # https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-docker#running-behind-nat-or-on-a-lan-environment
  #DOCKER_HOST_ADDRESS: '192.168.1.1'

  # Control whether the lobby feature should be enabled or not
  #ENABLE_LOBBY: '1'

  # Show a prejoin page before entering a conference
  #ENABLE_PREJOIN_PAGE: '0'

  # Enable the welcome page
  #ENABLE_WELCOME_PAGE: '1'

  # Enable the close page
  #ENABLE_CLOSE_PAGE: '0'

  # Disable measuring of audio levels
  #DISABLE_AUDIO_LEVELS: '0'

  # Enable noisy mic detection
  #ENABLE_NOISY_MIC_DETECTION: '1'

  #
  # Let's Encrypt configuration
  #

  # Enable Let's Encrypt certificate generation
  #ENABLE_LETSENCRYPT: '1'

  # Domain for which to generate the certificate
  #LETSENCRYPT_DOMAIN: 'meet.example.com'

  # E-Mail for receiving important account notifications (mandatory)
  #LETSENCRYPT_EMAIL: 'alice@atlanta.net'

  # Use the staging server (for avoiding rate limits while testing)
  #LETSENCRYPT_USE_STAGING: '1'


  #
  # Etherpad integration (for document sharing)
  #

  # Set etherpad-lite URL in docker local network (uncomment to enable)
  #ETHERPAD_URL_BASE: 'http://etherpad.meet.jitsi:9001'

  # Set etherpad-lite public URL (uncomment to enable)
  #ETHERPAD_PUBLIC_URL: 'https://etherpad.my.domain'

  # Name your etherpad instance!
  ETHERPAD_TITLE: 'Video Chat'

  # The default text of a pad
  ETHERPAD_DEFAULT_PAD_TEXT: 'Welcome to Web Chat!\n\n'

  # Name of the skin for etherpad
  ETHERPAD_SKIN_NAME: 'colibris'

  # Skin variants for etherpad
  ETHERPAD_SKIN_VARIANTS: 'super-light-toolbar super-light-editor light-background full-width-editor'


  #
  # Basic Jigasi configuration options (needed for SIP gateway support)
  #

  # SIP URI for incoming / outgoing calls
  #JIGASI_SIP_URI: 'test@sip2sip.info'

  # Password for the specified SIP account as a clear text
  #JIGASI_SIP_PASSWORD: 'passw0rd'

  # SIP server (use the SIP account domain if in doubt)
  #JIGASI_SIP_SERVER: 'sip2sip.info'

  # SIP server port
  #JIGASI_SIP_PORT: '5060'

  # SIP server transport
  #JIGASI_SIP_TRANSPORT: 'UDP'

  #
  # Authentication configuration (see handbook for details)
  #

  # Enable authentication
  #ENABLE_AUTH: '1'

  # Enable guest access
  #ENABLE_GUESTS: '1'

  # Select authentication type: internal, jwt or ldap
  #AUTH_TYPE: 'internal'

  # JWT authentication
  #

  # Application identifier
  #JWT_APP_ID: 'my_jitsi_app_id'

  # Application secret known only to your token
  #JWT_APP_SECRET: 'my_jitsi_app_secret'

  # (Optional) Set asap_accepted_issuers as a comma separated list
  #JWT_ACCEPTED_ISSUERS: 'my_web_client,my_app_client'

  # (Optional) Set asap_accepted_audiences as a comma separated list
  #JWT_ACCEPTED_AUDIENCES: 'my_server1,my_server2'


  # LDAP authentication (for more information see the Cyrus SASL saslauthd.conf man page)
  #

  # LDAP url for connection
  #LDAP_URL: 'ldaps://ldap.domain.com/'

  # LDAP base DN. Can be empty
  #LDAP_BASE: 'DC=example,DC=domain,DC=com'

  # LDAP user DN. Do not specify this parameter for the anonymous bind
  #LDAP_BINDDN: 'CN=binduser,OU=users,DC=example,DC=domain,DC=com'

  # LDAP user password. Do not specify this parameter for the anonymous bind
  #LDAP_BINDPW: 'LdapUserPassw0rd'

  # LDAP filter. Tokens example:
  # %1-9 - if the input key is user@mail.domain.com, then %1 is com, %2 is domain and %3 is mail
  # %s - %s is replaced by the complete service string
  # %r - %r is replaced by the complete realm string
  #LDAP_FILTER: (sAMAccountName: %u)

  # LDAP authentication method
  #LDAP_AUTH_METHOD: 'bind'

  # LDAP version
  #LDAP_VERSION: '3'

  # LDAP TLS using
  #LDAP_USE_TLS: '1'

  # List of SSL/TLS ciphers to allow
  #LDAP_TLS_CIPHERS: 'SECURE256:SECURE128:!AES-128-CBC:!ARCFOUR-128:!CAMELLIA-128-CBC:!3DES-CBC:!CAMELLIA-128-CBC'

  # Require and verify server certificate
  #LDAP_TLS_CHECK_PEER: '1'

  # Path to CA cert file. Used when server certificate verify is enabled
  #LDAP_TLS_CACERT_FILE: '/etc/ssl/certs/ca-certificates.crt'

  # Path to CA certs directory. Used when server certificate verify is enabled
  #LDAP_TLS_CACERT_DIR: '/etc/ssl/certs'

  # Wether to use starttls, implies LDAPv3 and requires ldap:// instead of ldaps://
  # LDAP_START_TLS: '1'


  #
  # Advanced configuration options (you generally don't need to change these)
  #

  # Internal XMPP domain
  XMPP_DOMAIN: 'meet.jitsi'

  # Internal XMPP server
  XMPP_SERVER: 'svc-{{ stage }}-{{ project_name }}-jitsi-prosody'

  # Internal XMPP server URL
  XMPP_BOSH_URL_BASE: 'http://svc-{{ stage }}-{{ project_name }}-jitsi-prosody:5280'

  # Internal XMPP domain for authenticated services
  XMPP_AUTH_DOMAIN: 'auth.meet.jitsi'

  # XMPP domain for the MUC
  XMPP_MUC_DOMAIN: 'muc.meet.jitsi'

  # XMPP domain for the internal MUC used for jibri, jigasi and jvb pools
  XMPP_INTERNAL_MUC_DOMAIN: 'internal-muc.meet.jitsi'

  # XMPP domain for unauthenticated users
  XMPP_GUEST_DOMAIN: 'guest.meet.jitsi'

  # Comma separated list of domains for cross domain policy or "true" to allow all
  # The PUBLIC_URL is always allowed
  #XMPP_CROSS_DOMAIN: 'true'

  # Custom Prosody modules for XMPP_DOMAIN (comma separated)
  XMPP_MODULES: ''

  # Custom Prosody modules for MUC component (comma separated)
  XMPP_MUC_MODULES: ''

  # Custom Prosody modules for internal MUC component (comma separated)
  XMPP_INTERNAL_MUC_MODULES: ''

  # MUC for the JVB pool
  JVB_BREWERY_MUC: 'jvbbrewery'

  # XMPP user for JVB client connections
  JVB_AUTH_USER: 'jvb'

  # STUN servers used to discover the server's public IP
  JVB_STUN_SERVERS: 'meet-jit-si-turnrelay.jitsi.net:443'

  # Media port for the Jitsi Videobridge
  JVB_PORT: '10000'

  # TCP Fallback for Jitsi Videobridge for when UDP isn't available
  JVB_TCP_HARVESTER_DISABLED: 'true'
  JVB_TCP_PORT: '4443'
  JVB_TCP_MAPPED_PORT: '4443'

  # A comma separated list of APIs to enable when the JVB is started [default: none]
  # See https://github.com/jitsi/jitsi-videobridge/blob/master/doc/rest.md for more information
  #JVB_ENABLE_APIS: 'rest,colibri'

  # XMPP user for Jicofo client connections.
  # NOTE: this option doesn't currently work due to a bug
  JICOFO_AUTH_USER: 'focus'

  # Base URL of Jicofo's reservation REST API
  #JICOFO_RESERVATION_REST_BASE_URL: 'http://reservation.example.com'

  # Enable Jicofo's health check REST API (http://<jicofo_base_url>:8888/about/health)
  #JICOFO_ENABLE_HEALTH_CHECKS: 'true'

  # XMPP user for Jigasi MUC client connections
  JIGASI_XMPP_USER: 'jigasi'

  # MUC name for the Jigasi pool
  JIGASI_BREWERY_MUC: 'jigasibrewery'

  # Minimum port for media used by Jigasi
  JIGASI_PORT_MIN: '20000'

  # Maximum port for media used by Jigasi
  JIGASI_PORT_MAX: '20050'

  # Enable SDES srtp
  #JIGASI_ENABLE_SDES_SRTP: '1'

  # Keepalive method
  #JIGASI_SIP_KEEP_ALIVE_METHOD: 'OPTIONS'

  # Health-check extension
  #JIGASI_HEALTH_CHECK_SIP_URI: 'keepalive'

  # Health-check interval
  #JIGASI_HEALTH_CHECK_INTERVAL: '300000'
  #
  # Enable Jigasi transcription
  #ENABLE_TRANSCRIPTIONS: '1'

  # Jigasi will record audio when transcriber is on [default: false]
  #JIGASI_TRANSCRIBER_RECORD_AUDIO: 'true'

  # Jigasi will send transcribed text to the chat when transcriber is on [default: false]
  #JIGASI_TRANSCRIBER_SEND_TXT: 'true'

  # Jigasi will post an url to the chat with transcription file [default: false]
  #JIGASI_TRANSCRIBER_ADVERTISE_URL: 'true'

  # Credentials for connect to Cloud Google API from Jigasi
  # Please read https://cloud.google.com/text-to-speech/docs/quickstart-protocol
  # section "Before you begin" paragraph 1 to 5
  # Copy the values from the json to the related env vars
  #GC_PROJECT_ID: ''
  #GC_PRIVATE_KEY_ID: ''
  #GC_PRIVATE_KEY: ''
  #GC_CLIENT_EMAIL: ''
  #GC_CLIENT_ID: ''
  #GC_CLIENT_CERT_URL: ''

  # Enable recording
  #ENABLE_RECORDING: '1'

  # XMPP domain for the jibri recorder
  XMPP_RECORDER_DOMAIN: 'recorder.meet.jitsi'

  # XMPP recorder user for Jibri client connections
  JIBRI_RECORDER_USER: 'recorder'

  # Directory for recordings inside Jibri container
  JIBRI_RECORDING_DIR: '/config/recordings'

  # The finalizing script. Will run after recording is complete
  #JIBRI_FINALIZE_RECORDING_SCRIPT_PATH: '/config/finalize.sh'

  # XMPP user for Jibri client connections
  JIBRI_XMPP_USER: 'jibri'

  # MUC name for the Jibri pool
  JIBRI_BREWERY_MUC: 'jibribrewery'

  # MUC connection timeout
  JIBRI_PENDING_TIMEOUT: '90'

  # When jibri gets a request to start a service for a room, the room
  # jid will look like: roomName@optional.prefixes.subdomain.xmpp_domain
  # We'll build the url for the call by transforming that into:
  # https://xmpp_domain/subdomain/roomName
  # So if there are any prefixes in the jid (like jitsi meet, which
  # has its participants join a muc at conference.xmpp_domain) then
  # list that prefix here so it can be stripped out to generate
  # the call url correctly
  JIBRI_STRIP_DOMAIN_JID: 'muc'

  # Directory for logs inside Jibri container
  JIBRI_LOGS_DIR: '/config/logs'

  # Disable HTTPS: handle TLS connections outside of this setup
  #DISABLE_HTTPS: '1'

  # Redirect HTTP traffic to HTTPS
  # Necessary for Let's Encrypt, relies on standard HTTPS port (443)
  #ENABLE_HTTP_REDIRECT: '1'

  # Send a `strict-transport-security` header to force browsers to use
  # a secure and trusted connection. Recommended for production use.
  # Defaults to 1 (send the header).
  # ENABLE_HSTS: '1'

  # Enable IPv6
  # Provides means to disable IPv6 in environments that don't support it (get with the times, people!)
  #ENABLE_IPV6: '1'

  # Container restart policy
  # Defaults to unless-stopped
  RESTART_POLICY: 'unless-stopped'

  # Authenticate using external service or just focus external auth window if there is one already.
  # TOKEN_AUTH_URL: 'https://auth.meet.example.com/{room}'

