---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 'app-{{ stage }}-{{ project_name }}-keycloak'
  namespace: '{{ k8s_namespace }}'
spec:
  selector:
    matchLabels:
      app: 'app-{{ stage }}-{{ project_name }}-keycloak'
  template:
    metadata:
      labels:
        app: 'app-{{ stage }}-{{ project_name }}-keycloak'
    spec:
      imagePullSecrets:
        - name: secret-{{ project_name }}
      containers:
        - image: {{ image_name }}/keycloak:{{ keycloak_build_id }}
          name: 'app-{{ stage }}-{{ project_name }}-keycloak'
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: configmap-{{ stage }}-{{ project_name }}-theme-properties
              mountPath: /opt/keycloak/themes/hi/login/theme.properties
              subPath: theme-properties
            - name: configmap-{{ stage }}-{{ project_name }}-theme-properties
              mountPath: /opt/keycloak/themes/open-library/login/theme.properties
              subPath: theme-properties
            - name: tz-config
              mountPath: /etc/localtime
          env:
            - name: KC_DB
              value: mysql
            - name: KC_DB_URL_HOST
              value: {{ my_host }}
            - name: KC_DB_URL
              value: jdbc:mysql://{{ my_host }}:3306/{{ my_keycloak_db }}
            - name: KC_DB_USERNAME
              value: {{ my_keycloak_user }}
            - name: KC_DB_PASSWORD
              value: {{ my_keycloak_pass }}
            - name: KEYCLOAK_ADMIN
              value: {{ keycloak_admin_user }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: {{ keycloak_admin_pass }}
            - name: KC_HOSTNAME_STRICT
              value: 'false'
            - name: KC_HOSTNAME_STRICT_HTTPS
              value: 'false'
            - name: KC_HTTP_RELATIVE_PATH
              value: '/auth'
            - name: KC_PROXY
              value: 'edge'
            - name: JAVA_OPTS
              value: '-Dkeycloak.profile.feature.scripts=enabled
                    -Dkeycloak.profile.feature.upload_scripts=enabled -server -Xms256m -Xmx512m
                    -XX:MetaspaceSize=128M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true
                    -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true'
      volumes:
        - name: tz-config
          hostPath:
            path: {{ tz_path }}
        - name: configmap-{{ stage }}-{{ project_name }}-theme-properties
          configMap:
            name: configmap-{{ stage }}-{{ project_name }}-keycloak-theme-properties

---
apiVersion: v1
kind: Service
metadata:
  name: 'svc-{{ stage }}-{{ project_name }}-keycloak'
  namespace: '{{ k8s_namespace }}'
spec:
  ports:
    - port: 8080
  selector:
    app: 'app-{{ stage }}-{{ project_name }}-keycloak'
