---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 'app-{{ stage }}-{{ project_name }}-patient-service'
  namespace: '{{ k8s_namespace }}'
  annotations:
    reloader.stakater.com/auto: 'true'
spec:
  selector:
    matchLabels:
      app: 'app-{{ stage }}-{{ project_name }}-patient-service'
  template:
    metadata:
      labels:
        app: 'app-{{ stage }}-{{ project_name }}-patient-service'
    spec:
      containers:
        - image: {{ image_name }}/patient-service:{{ version }}
          name: 'app-{{ stage }}-{{ project_name }}-patient'
          ports:
            - containerPort: 80
          volumeMounts:
          - name: tz-config
            mountPath: /etc/localtime
      volumes:
      - name: tz-config
        hostPath:
          path: {{ tz_path }}

---
apiVersion: v1
kind: Service
metadata:
  name: 'svc-{{ stage }}-{{ project_name }}-patient-service'
  namespace: '{{ k8s_namespace }}'
spec:
  ports:
    - port: 80
  selector:
    app: 'app-{{ stage }}-{{ project_name }}-patient-service'
