---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-admin-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-admin-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/admin-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-admin-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-admin-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-hicadmin-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-hicadmin-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/hicadmin-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-hicadmin-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-hicadmin-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/therapist-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-therapist-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-patient-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-patient-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/patient-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-patient-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-patient-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-phone-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-phone-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/phone-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-phone-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-phone-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-vn-patient-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-vn-patient-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/vn-patient-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-vn-patient-service'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-vn-patient-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-rocketchat'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-rocketchat'
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/rocketchat'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-rocketchat'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-rocketchat'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 10Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-rocketchat-db'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-rocketchat-db'
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/rocketchat-db'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-rocketchat-db'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-rocketchat-db'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 10Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-jitsi-config'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-jitsi-config'
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/jitsi-meet-cfg'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-jitsi-config'
  namespace: hiv
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-jitsi-config'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 10Gi
