---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-admin-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-admin-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/admin-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-admin-service'
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-admin-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/therapist-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-therapist-service'
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-therapist-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi



---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ stage }}-{{ project_id }}-patient-service'
  labels:
    app: 'pv-{{ stage }}-{{ project_id }}-patient-service'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}/patient-service'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ stage }}-{{ project_id }}-patient-service'
spec:
  selector:
    matchLabels:
      app: 'pv-{{ stage }}-{{ project_id }}-patient-service'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi
