---

apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-demo-tra-superset-config
  namespace: hiv
data:
  superset_config.py: |
    FEATURE_FLAGS = {
        "ENABLE_TEMPLATE_PROCESSING": True,
        "EMBEDDED_SUPERSET": True,
    }

    TALISMAN_ENABLED = False

    GUEST_TOKEN_JWT_EXP_SECONDS = 1800
    GUEST_TOKEN_JWT_SECRET = "{{ superset_guest_token_jwt_secret }}"
    GUEST_ROLE_NAME = 'embed_dashboard'

    CACHE_CONFIG = {
        "CACHE_TYPE": "redis",
        "CACHE_DEFAULT_TIMEOUT": 86400,
        "CACHE_KEY_PREFIX": "superset_",
        "CACHE_REDIS_URL": "redis://svc-demo-tra-superset-redis:6379/0",
    }

    DATA_CACHE_CONFIG = CACHE_CONFIG

    LANGUAGES = {
        'en': {'flag': 'us', 'name': 'English'},
        'ar': {'flag': 'ar', 'name': 'اَلْعَرَبِيَّةُ'},
        'es': {'flag': 'es', 'name': 'Español'},
        'my': {'flag': 'mm', 'name': 'မြန်မာစာ'},
        'fr': {'flag': 'fr', 'name': 'Français'},
        'km': {'flag': 'kh', 'name': 'ភាសាខ្មែរ'},
        'rw': {'flag': 'rw', 'name': 'Ikinyarwanda'},
        'lo': {'flag': 'la', 'name': 'ພາສາລາວ'},
        'th': {'flag': 'th', 'name': 'ภาษาไทย'},
        'vi': {'flag': 'vn', 'name': 'Tiếng Việt'},
    }

  po2json.sh: |
    #!/bin/bash
    # Licensed to the Apache Software Foundation (ASF) under one

    set -e

    for file in $( find ../superset/translations/** -name '*.po' );
    do
      extension=${file##*.}
      filename="${file%.*}"
      if [ $extension == "po" ]
      then
        echo "po2json --domain superset --format jed1.x $file $filename.json"
        po2json --domain superset --format jed1.x $file $filename.json
        prettier --write $filename.json
      fi
    done
