---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 'app-{{ stage }}-{{ project_name }}-therapist-webapp'
  namespace: '{{ k8s_namespace }}'
spec:
  selector:
    matchLabels:
      app: 'app-{{ stage }}-{{ project_name }}-therapist-webapp'
  template:
    metadata:
      labels:
        app: 'app-{{ stage }}-{{ project_name }}-therapist-webapp'
    spec:
      imagePullSecrets:
        - name: secret-{{ project_name }}
      containers:
        - image: {{ image_name }}/{{ stage }}/therapist-webapp:{{ version }}
          name: 'app-{{ stage }}-{{ project_name }}-therapist-webapp'
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          volumeMounts:
          - name: tz-config
            mountPath: /etc/localtime
          - name: configmap-{{ stage }}-{{ project_name }}-env
            mountPath: /usr/share/nginx/html/.env
            subPath: therapist-webapp-env
      volumes:
      - name: tz-config
        hostPath:
          path: {{ tz_path }}
      - name: configmap-{{ stage }}-{{ project_name }}-env
        configMap:
          name: configmap-{{ stage }}-{{ project_name }}-therapist-webapp-env

---
apiVersion: v1
kind: Service
metadata:
  name: 'svc-{{ stage }}-{{ project_name }}-therapist-webapp'
  namespace: '{{ k8s_namespace }}'
spec:
  ports:
    - port: 80
  selector:
    app: 'app-{{ stage }}-{{ project_name }}-therapist-webapp'
