---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-{{ stage }}-{{ project_name }}-webclient
  namespace: hiv
  annotations:
    reloader.stakater.com/auto: 'true'
spec:
  selector:
    matchLabels:
      app: app-{{ stage }}-{{ project_name }}-webclient
  template:
    metadata:
      labels:
        app: app-{{ stage }}-{{ project_name }}-webclient
    spec:
      imagePullSecrets:
        - name: secret-{{ project_name }}
      containers:
        - image: {{ image_name }}/webclient:{{ version }}
          name: app-{{ stage }}-{{ project_name }}-webclient
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          volumeMounts:
            - name: tz-config
              mountPath: /etc/localtime
            - name: configmap-{{ stage }}-{{ project_name }}-webclient-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default
      volumes:
        - name: tz-config
          hostPath:
            path: /usr/share/zoneinfo/Asia/Phnom_Penh
        - name: configmap-{{ stage }}-{{ project_name }}-webclient-volume
          configMap:
            name: configmap-{{ stage }}-{{ project_name }}-webclient

---
apiVersion: v1
kind: Service
metadata:
  name: svc-{{ stage }}-{{ project_name }}-webclient
  namespace: hiv
spec:
  ports:
    - port: 80
  selector:
    app: app-{{ stage }}-{{ project_name }}-webclient

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ing-{{ stage }}-{{ project_name }}
  namespace: hiv
spec:
  rules:
    - host: {{ keycloak_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-webclient
              servicePort: 80
    - host: {{ admin_webapp_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-admin-webapp
              servicePort: 80
    - host: {{ hicadmin_webapp_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-hicadmin-webapp
              servicePort: 80
    - host: {{ therapist_webapp_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-therapist-webapp
              servicePort: 80
    - host: {{ rocketchat_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-rocketchat
              servicePort: 3000
    - host: {{ jitsi_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: svc-{{ stage }}-{{ project_name }}-jitsi-web
              servicePort: 80
    - host: {{ api_url }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ krakend_service }}
              servicePort: 8000
