---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-{{ stage }}-{{ project_name }}-webclient
  namespace: hiv
  annotations:
    reloader.stakater.com/auto: 'true'
spec:
  selector:
    matchLabels:
      app: app-{{ stage }}-{{ project_name }}-webclient
  template:
    metadata:
      labels:
        app: app-{{ stage }}-{{ project_name }}-webclient
    spec:
      imagePullSecrets:
        - name: secret-{{ project_name }}
      containers:
        - image: {{ image_name }}/webclient:{{ version }}
          name: app-{{ stage }}-{{ project_name }}-webclient
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          volumeMounts:
            - name: tz-config
              mountPath: /etc/localtime
            - name: configmap-{{ stage }}-{{ project_name }}-webclient-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default
      volumes:
        - name: tz-config
          hostPath:
            path: /usr/share/zoneinfo/Asia/Phnom_Penh
        - name: configmap-{{ stage }}-{{ project_name }}-webclient-volume
          configMap:
            name: configmap-{{ stage }}-{{ project_name }}-webclient

---
apiVersion: v1
kind: Service
metadata:
  name: svc-{{ stage }}-{{ project_name }}-webclient
  namespace: hiv
spec:
  ports:
    - port: 80
  selector:
    app: app-{{ stage }}-{{ project_name }}-webclient

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ing-{{ stage }}-{{ project_name }}
  namespace: hiv
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/session-cookie-expires: "172800"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "172800"
spec:
  rules:
    - host: {{ keycloak_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-webclient
              port:
                number: 80
          path: /
          pathType: ImplementationSpecific
    - host: {{ admin_webapp_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-admin-webapp
              port:
                number: 80
          path: /
          pathType: ImplementationSpecific
    - host: {{ hicadmin_webapp_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-hicadmin-webapp
              port:
                number: 80
          path: /
          pathType: ImplementationSpecific
    - host: {{ therapist_webapp_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-therapist-webapp
              port:
                number: 80
          path: /
          pathType: ImplementationSpecific
    - host: {{ rocketchat_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-rocketchat
              port:
                number: 3000
          path: /
          pathType: ImplementationSpecific
    - host: {{ jitsi_url }}
      http:
        paths:
        - backend:
            service:
              name: svc-{{ stage }}-{{ project_name }}-jitsi-web
              port:
                number: 80
          path: /
          pathType: ImplementationSpecific
    - host: {{ api_url }}
      http:
        paths:
        - backend:
            service:
              name: {{ krakend_service }}
              port:
                number: 8000
          path: /
          pathType: ImplementationSpecific
