{
  "port": 8000,
  "hosts": {
    "admin": "svc-{{ stage }}-{{ project_name }}-admin-service",
    "therapist": "svc-{{ stage }}-{{ project_name }}-therapist-service",
    "patient": "svc-{{ stage }}-{{ project_name }}-patient-service",
    "patient_vn": "svc-{{ stage }}-{{ project_name }}-patient-vn-service"
  },
  "extra_config": {
    "github_com/devopsfaith/krakend-cors": {
      "allow_origins": ["*"]
    }
  }
}
