{
  "port": 8000,
  "hosts": {
    "admin": "{{ admin_service }}",
    "openlibrary": "{{ hicadmin_service }}",
    "therapist": "{{ therapist_service }}",
    "patient": "{{ patient_service }}",
    "patient_vn": "{{ vn_patient_service }}",
    "library": "{{ hicadmin_service }}",
    "phone": "{{ phone_service }}"
  },
  "extra_config": {
    "security/cors": {
      "allow_origins": ["*"],
      "allow_headers": ["*"]
    },
    "router": {
      "hide_version_header": true
    }
  }
}
