---

project_id:                             'hiv-tra-20'
project_name:                           'tra'

git_branch:                             'master'

k8s_namespace:                          'hiv'
root_domain:                            'rehabilitation.wehost.asia'
website_url:                            '{{ stage }}-{{ root_domain }}'
admin_webapp_url:                       '{{ stage }}-admin-{{ root_domain }}'
hicadmin_webapp_url:                    '{{ stage }}-openlibrary-{{ root_domain }}'
therapist_webapp_url:                   '{{ stage }}-therapist-{{ root_domain }}'
api_url:                                '{{ stage }}-api-{{ root_domain }}'
keycloak_url:                           '{{ stage }}-auth-{{ root_domain }}'
rocketchat_url:                         '{{ stage }}-chat-{{ root_domain }}'
superset_url:                           '{{ stage }}-superset-{{ root_domain }}'
jitsi_url:                              'meet.opentelerehab.com'

admin_webapp_service:                   'svc-{{ stage }}-{{ project_name }}-admin-webapp'
hicadmin_webapp_service:                'svc-{{ stage }}-{{ project_name }}-hicadmin-webapp'
therapist_webapp_service:               'svc-{{ stage }}-{{ project_name }}-therapist-webapp'
admin_service:                          'svc-{{ stage }}-{{ project_name }}-admin-service'
hicadmin_service:                       'svc-{{ stage }}-{{ project_name }}-hicadmin-service'
therapist_service:                      'svc-{{ stage }}-{{ project_name }}-therapist-service'
patient_service:                        'svc-{{ stage }}-{{ project_name }}-patient-service'
phone_service:                          'svc-{{ stage }}-{{ project_name }}-phone-service'
vn_patient_service:                     'svc-{{ stage }}-{{ project_name }}-vn-patient-service'
keycloak_service:                       'svc-{{ stage }}-{{ project_name }}-keycloak:8080'
rocketchat_service:                     'http://svc-{{ stage }}-{{ project_name }}-rocketchat:3000'
krakend_service:                        'svc-{{ stage }}-{{ project_name }}-krakend'
superset_service:                       'svc-{{ stage }}-{{ project_name }}-superset'

nfs_server:                             '10.10.10.26'
nfs_path:                               '/volume1/export/{{ stage }}/{{ project_id }}'

app_context:                            'Production'
php_bin:                                '/usr/bin/php8.3'
composer_bin:                           '/usr/local/bin/composer'
composer_flags:                         '--no-dev --prefer-dist --no-interaction'

service_docker_image:                   'wehostasia/laravel:nginx-php-8.3'
hub_registry:                           'hub.web-essentials.co'
hub_user:                               'docker'
hub_pass:                               '{{ hub_pass_vault }}'

image_name:                             'hub.web-essentials.co/we/{{ project_id }}'
kubeconfig:                             '~/.kube/admin.conf'
workspace:                              '{{ lookup("env", "WORKSPACE") or lookup("env", "PWD") }}'

my_host:                                '10.10.10.25'

my_adminservice_user:                   '{{ stage }}_adminservice'
my_adminservice_pass:                   '{{ my_adminservice_pass_vault }}'
my_adminservice_db:                     '{{ stage }}_adminservice'

my_hicadminservice_user:                '{{ stage }}_hicadminservice'
my_hicadminservice_pass:                '{{ my_hicadminservice_pass_vault }}'
my_hicadminservice_db:                  '{{ stage }}_hicadminservice'

my_therapistservice_user:               '{{ stage }}_therapistservice'
my_therapistservice_pass:               '{{ my_therapistservice_pass_vault }}'
my_therapistservice_db:                 '{{ stage }}_therapistservice'

my_patientservice_user:                 '{{ stage }}_patientservice'
my_patientservice_pass:                 '{{ my_patientservice_pass_vault }}'
my_patientservice_db:                   '{{ stage }}_patientservice'

my_phoneservice_db:                     '{{ stage }}_phoneservice'
my_phoneservice_user:                   '{{ stage }}_phoneservice'
my_phoneservice_pass:                   '{{ my_phoneservice_pass_vault }}'

my_keycloak_user:                       '{{ stage }}_{{ project_name }}_keycloak'
my_keycloak_pass:                       '{{ my_keycloak_pass_vault }}'
my_keycloak_db:                         '{{ stage }}_{{ project_name }}_keycloak'
keycloak_admin_user:                    'admin'
keycloak_admin_pass:                    '{{ keycloak_admin_pass_vault }}'
keycloak_hi_realm_public_key:           '{{ keycloak_hi_realm_public_key_vault }}'
keycloak_hi_therapist_realm_public_key: '{{ keycloak_hi_therapist_realm_public_key_vault }}'
keycloak_hi_library_realm_public_key:   '{{ keycloak_hi_library_realm_public_key_vault }}'
keycloak_hi_backend_secret:             '{{ keycloak_hi_backend_secret_vault }}'
keycloak_hi_therapist_backend_secret:   '{{ keycloak_hi_therapist_backend_secret_vault }}'
keycloak_hi_library_backend_secret:     '{{ keycloak_hi_library_backend_secret_vault }}'
keycloak_hi_backend_password:           '{{ keycloak_hi_backend_password_vault }}'
keycloak_hi_library_password:           '{{ keycloak_hi_library_password_vault }}'
keycloak_idp_mapping:                   'saml::@hi.org,@external.hi.org'
federated_domains:                      '@hi.org,@external.hi.org'

gadmin_keycloak_backend_client:         'hi_backend'
gadmin_keycloak_backend_username:       'hi_backend'
gadmin_keycloak_backend_password:       '{{ gadmin_keycloak_backend_password_vault }}'
admin_keycloak_backend_client:          'hi_backend'
admin_keycloak_backend_username:        'hi_backend'
admin_keycloak_backend_password:        '{{ admin_keycloak_backend_password_vault }}'
therapist_keycloak_backend_client:       'hi_backend'
therapist_keycloak_backend_username:     'hi_backend'
therapist_keycloak_backend_password:     '{{ therapist_keycloak_backend_password_vault }}'

patient_backend_pin:                    '{{ patient_backend_pin_vault }}'

rocketchat_admin_user_id:               '{{ rocketchat_admin_user_id_vault }}'
rocketchat_admin_auth_token:            '{{ rocketchat_admin_auth_token_vault }}'
rocketchat_admin_pass:                  '{{ rocketchat_admin_pass_vault }}'

tz_path:                                '/usr/share/zoneinfo/Asia/Phnom_Penh'

deployment_replica:                     '1'

sms_sid:                                '{{ sms_sid_vault }}'
sms_token:                              '{{ sms_token_vault }}'
sms_verify_service_sid:                 '{{ sms_verify_service_sid_vault }}'
sms_phone_number:                       '{{ sms_phone_number_vault }}'
sms_verify_exclude_numbers:             '85516632704,855886991260,855966138877'

smtp_host:                              '10.10.10.37'
smtp_port:                              '1025'
smtp_user:                              '{{ smtp_user_vault }}'
smtp_pass:                              '{{ smtp_pass_vault }}'
smtp_encryption:                        'null'
smtp_mail_from_address:                 'noreply@opentelerehab.com'

map_api_key:                            '{{ map_api_key_vault }}'

pusher_app_id:                          '{{ pusher_app_id_vault }}'
pusher_app_key:                         '{{ pusher_app_key_vault }}'
pusher_app_secret:                      '{{ pusher_app_secret_vault }}'

google_translate_api_key:               '{{ google_translate_api_key_vault }}'

twilio_account_sid:                     '{{ twilio_account_sid_vault }}'
twilio_api_key:                         '{{ twilio_api_key_vault }}'
twilio_api_key_secret:                  '{{ twilio_api_key_secret_vault }}'
twilio_auth_token:                      '{{ twilio_auth_token_vault }}'

firebase_project_id:                    'opentelerehab-dev'

# Apache superset
superset_image:   'apache/superset:4.1.1'
superset_host:    '{{ stage }}-superset-rehabilitation.wehost.asia'
database_dialect: 'mysql'
superset_db_port: '3306'
superset_db_user: '{{ stage }}_{{ project_name }}_superset'
superset_db_pass: '{{ superset_db_pass_vault }}'
superset_db_name: '{{ stage }}_{{ project_name }}_superset'

superset_redis_image: 'redis:7.4.1'
superset_redis_host: 'svc-{{ stage }}-{{ project_name }}-superset-redis'
superset_redis_port: '6379'

superset_secret_key: '{{ superset_secret_key_vault }}'

superset_admin_user: 'admin_service'
superset_admin_password: '{{ superset_admin_password_vault }}'
superset_dashboard_id_for_global_admin:   'ebb93bc0-bde5-4f76-b991-c1954e0813a9'
superset_dashboard_id_for_country_admin:  '48bc1e88-80ae-4fa4-9b5b-2ff937c5ad2f'
superset_dashboard_id_for_regional_admin:  '7cf5e758-b198-4efa-9786-c948ce12fa2e'
superset_dashboard_id_for_clinic_admin:   '8044e76d-252d-46c0-b7b1-4ca5f88a5e70'
superset_dashboard_id_for_phc_service_admin:   '7169bd30-cfcf-4b86-a7c4-f3580ab5fc7c'
superset_dashboard_id_for_therapist:      '71e3cc54-1150-4984-86be-d6782e06e84f'
superset_dashboard_id_for_phc_worker:      'aa411a32-54e2-4ce5-81f6-c34ba81defe3'
superset_guest_token_jwt_secret:          '{{ superset_guest_token_jwt_secret_vault }}'

# Presto
presto_host: '{{ stage }}-presto-rehabilitation.wehost.asia'

activity_logger_db_connection: 'adminService'

crypt_secret: '{{ crypt_secret }}'
crypt_cipher: '{{ crypt_cipher }}'
