---

- name: AdminWebapp | Clone Admin webapp repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/admin-web-app.git
    dest: '{{ workspace }}/admin-webapp'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: AdminWebapp | Create configuration teamplates
  template:
    src: '{{ item }}'
    dest: '{{ workspace }}/admin-webapp/{{ item | basename | regex_replace("\.j2$", "") }}'
    mode: 0755
  with_fileglob:
    - '../templates/internal/admin-webapp/*.j2'

- name: AdminWebapp | Create env and dockeringore
  template:
    src: 'internal/admin-webapp/{{ item }}.j2'
    dest: '{{ workspace }}/admin-webapp/{{ item }}'
    mode: 0755
  loop:
    - .dockerignore
    - .env

- name: Switch node version 22.x
  shell: "/usr/bin/n 22.12.0"

- name: AdminWebapp | Run yarn install
  shell: NODE_OPTIONS=--max_old_space_size=4096 yarn install
  args:
    chdir: '{{ workspace }}/admin-webapp'

- name: AdminWebapp | Run yarn build
  shell: NODE_OPTIONS=--max_old_space_size=4096 yarn build
  args:
    chdir: '{{ workspace }}/admin-webapp'

- name: AdminWebapp | Build docker image
  shell: 'docker build -t {{ stage }}-admin-webapp:latest .'
  args:
    chdir: '{{ workspace }}/admin-webapp'

- name: AdminWebapp | Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-admin-webapp:latest {{ image_name }}/{{ stage }}/admin-webapp:{{ item }}'
  args:
    chdir: '{{ workspace }}/admin-webapp'
  loop:
    - '{{ version }}'
    - latest

- name: AdminWebapp | Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/admin-webapp:{{ item }}'
  args:
    chdir: '{{ workspace }}/admin-webapp'
  loop:
    - '{{ version }}'
    - latest

### Deploy Admin Webapp
- name: Deploy admin webapp
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/admin_webapp.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-admin-webapp-build'
    state: absent
