---
- name: HICAdminWebapp | Clone Admin webapp repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/hic-webapp.git
    dest: '{{ workspace }}/hicadmin-webapp'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: HICAdminWebapp | Create configuration teamplates
  template:
    src: '{{ item }}'
    dest: '{{ workspace }}/hicadmin-webapp/{{ item | basename | regex_replace("\.j2$", "") }}'
    mode: 0755
  with_fileglob:
    - '../templates/internal/hicadmin-webapp/*.j2'

- name: HICAdminWebapp | Create supervisord directory
  file:
    path: '{{ workspace }}/hicadmin-webapp/supervisord'
    state: directory

- name: HICAdminWebapp | Create supervisord conf
  template:
    src: '{{ item }}'
    dest: '{{ workspace }}/hicadmin-webapp/supervisord/{{ item | basename | regex_replace("\.j2$", "") }}'
    mode: 0755
  with_fileglob:
    - '../templates/internal/hicadmin-webapp/supervisord/*.j2'

- name: HICAdminWebapp | Create env and dockeringore
  template:
    src: 'internal/hicadmin-webapp/{{ item }}.j2'
    dest: '{{ workspace }}/hicadmin-webapp/{{ item }}'
    mode: 0755
  loop:
    - .dockerignore
    - .env

- name: Switch node version 22.x
  shell: "/usr/bin/n 22.12.0"

- name: HICAdminWebapp | Run yarn install
  shell: NODE_OPTIONS=--max_old_space_size=4096 yarn install
  args:
    chdir: '{{ workspace }}/hicadmin-webapp'

- name: HICAdminWebapp | Run yarn build
  shell: NODE_OPTIONS=--max_old_space_size=4096 yarn build
  args:
    chdir: '{{ workspace }}/hicadmin-webapp'

- name: HICAdminWebapp | Build docker image
  shell: 'docker build -t {{ stage }}-hicadmin-webapp:latest .'
  args:
    chdir: '{{ workspace }}/hicadmin-webapp'

- name: HICAdminWebapp | Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-hicadmin-webapp:latest {{ image_name }}/{{ stage }}/hicadmin-webapp:{{ item }}'
  args:
    chdir: '{{ workspace }}/hicadmin-webapp'
  loop:
    - '{{ version }}'
    - latest

- name: HICAdminWebapp | Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/hicadmin-webapp:{{ item }}'
  args:
    chdir: '{{ workspace }}/hicadmin-webapp'
  loop:
    - '{{ version }}'
    - latest

### Deploy HICAdmin Webapp
- name: Deploy hicadmin webapp
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/hicadmin_webapp.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-hicadmin-webapp-build'
    state: absent
