---
- name: HICAdminService | Clone Admin service repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/hic-service.git
    dest: '{{ workspace }}/hicadmin-service'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: AdminService | Copy deployment configuration
  template:
    src: 'internal/hicadmin-service/{{ item }}.j2'
    dest: '{{ workspace }}/hicadmin-service/{{ item }}'
    mode: 0755
  loop:
    - default.conf
    - Dockerfile
    - hi-task-scheduler
    - queue-worker.conf

- name: AdminService | Copy .env
  template:
    src: 'internal/hicadmin-service/env.j2'
    dest: '{{ workspace }}/hicadmin-service/.env'
    mode: 0755

- name: AdminService | Copy .env.dusk.local
  template:
    src: 'internal/hicadmin-service/env.dusk.local.j2'
    dest: '{{ workspace }}/hicadmin-service/.env.dusk.local'
    mode: 0755

- name: AdminService | Run composer to install dependencies
  shell: '{{ php_bin }} {{ composer_bin }} install {{ composer_flags }}'
  args:
    chdir: '{{ workspace }}/hicadmin-service'

- name: AdminService | Build docker image
  shell: 'docker build -t {{ stage }}-hicadmin-service:latest .'
  args:
    chdir: '{{ workspace }}/hicadmin-service'

- name: AdminService | Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-hicadmin-service:latest {{ image_name }}/{{ stage }}/hicadmin-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/hicadmin-service'
  loop:
    - '{{ version }}'
    - latest

- name: AdminService | Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/hicadmin-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/hicadmin-service'
  loop:
    - '{{ version }}'
    - latest

### Deploy HIC Admin Service
- name: Deploy HICAdmin Service
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/hicadminservice.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-hicadmin-service-build'
    state: absent

- name: HIC-Admin-Service | Wait until container ready
  shell: |
    while [[ $(KUBECONFIG={{ kubeconfig }} kubectl -n {{ k8s_namespace }} get po -l app=app-{{ stage }}-{{ project_name }}-hicadmin-service -o 'jsonpath={..status.conditions[?(@.type=="Ready")].status}') != "True" ]] ; do echo "waiting for pod" && sleep 1 ; done
  args:
    executable: /bin/bash

- name: HIC-Admin-Service | Get running admin service pod name
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl get pods -n {{ k8s_namespace }} | grep app-{{ stage }}-{{ project_name }}-hicadmin-service | cut -d " " -f1'
  register: hicadmin_pod_name

- name: HIC-Admin-Service | Change permission
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/chown -R www-data:www-data /var/www/storage/ &'

- name: HIC-Admin-Service | Migrate DB
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan migrate --force &'

- name: HIC-Admin-Service | Link storage folder to public
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan storage:link &'

- name: HIC-Admin-Service | Clear caches
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/php artisan {{ item }} &'
  loop:
    - cache:clear

- name: HIC-Admin-Service | Import default system settings
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan {{ item }} &'
  loop:
    - hi:import-default-translation
    - hi:import-system-limit

- name: HIC-Admin-Service | Change permission
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ hicadmin_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/chown -R www-data:www-data /var/www/storage/ &'
