---

- name: KrakendService | Clone Krakend service repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/krakend.git
    dest: '{{ workspace }}/krakend-service'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: Create service file
  template:
    src: 'internal/krakend-service/service.json.j2'
    dest: '{{ workspace }}/krakend-service/config/krakend/settings/service.json'
    mode: 0755

- name: Build docker image
  shell: 'docker build -t {{ stage }}-krakend:latest .'
  args:
    chdir: '{{ workspace }}/krakend-service'

- name: Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-krakend:latest {{ image_name }}/{{ stage }}/krakend:{{ item }}'
  args:
    chdir: '{{ workspace }}/krakend-service'
  loop:
    - '{{ version }}'
    - latest

- name: Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/krakend:{{ item }}'
  args:
    chdir: '{{ workspace }}/krakend-service'
  loop:
    - '{{ version }}'
    - latest

### Deploy Krakend
- name: Deploy krakend
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/krakend.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-krakend-build'
    state: absent
