---

- name: Login to nexus docker private repo
  docker_login:
    registry: '{{ hub_registry }}'
    username: '{{ hub_user }}'
    password: '{{ hub_pass }}'

# Get build state
- name: AdminService | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-admin-service-build'
  register: admin_service_build

- name: HICAdminService | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-hicadmin-service-build'
  register: hicadmin_service_build

- name: AdminWebapp | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-admin-webapp-build'
  register: admin_webapp_build

- name: HICAdminWebapp | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-hicadmin-webapp-build'
  register: hicadmin_webapp_build

- name: TherapistService | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-therapist-service-build'
  register: therapist_service_build

- name: Krakend | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-krakend-build'
  register: krakend_service_build

- name: TherapistWebapp | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-therapist-webapp-build'
  register: therapist_webapp_build

- name: PatientService | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-patient-service-build'
  register: patient_service_build

- name: PhoneService | Get file if exist
  stat:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-phone-service-build'
  register: phone_service_build

- name: Deploy k8s namespace pvc configmap
  import_tasks: deploy-k8s-common.yml
  when: stage != 'live'

### Build Docker image Admin Service
- name: Build Admin service
  import_tasks: admin-service.yml
  when: admin_service_build.stat.exists

### Build Docker image HIC Admin Service
- name: Build HICAdmin service
  import_tasks: hicadmin-service.yml
  when: hicadmin_service_build.stat.exists

### Build Docker image Admin Webapp
- name: Build Admin webapp
  import_tasks: admin-webapp.yml
  when: admin_webapp_build.stat.exists

### Build Docker image HIC Admin Webapp
- name: Build HICAdmin webapp
  import_tasks: hicadmin-webapp.yml
  when: hicadmin_webapp_build.stat.exists

### Build Docker image Therapist Service
- name: Build Therapist service
  import_tasks: therapist-service.yml
  when: therapist_service_build.stat.exists

### Build Docker image Therapist Webapp
- name: Build Therapist webapp
  import_tasks: therapist-webapp.yml
  when: therapist_webapp_build.stat.exists

### Build Docker image Patient Service
- name: Build Patient service
  import_tasks: patient-service.yml
  when: patient_service_build.stat.exists

### Build Docker image Phone Service
- name: Build Phone service
  import_tasks: phone-service.yml
  when: phone_service_build.stat.exists

### Build Docker image Krakend Service
- name: Build krakend service
  import_tasks: krakend-service.yml
  when: krakend_service_build.stat.exists

### Build webclient
- name: Build webclient
  import_tasks: webclient.yml

### Deploy k8s pods
- name: Deploy deploy services
  import_tasks: deploy-k8s-services.yml
  when: stage != 'live'

### Run task on live
- name: Production | Deploy
  import_tasks: external.yml
  when: stage == 'live'
