---

- name: PhoneService | Clone phone service repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/patient-phone-service.git
    dest: '{{ workspace }}/phone-service'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: PhoneService | Copy deployment configuration
  template:
    src: 'internal/phone-service/{{ item }}.j2'
    dest: '{{ workspace }}/phone-service/{{ item }}'
    mode: 0755
  loop:
    - default.conf
    - Dockerfile

- name: PhoneService | Copy .env file
  template:
    src: 'internal/phone-service/env.j2'
    dest: '{{ workspace }}/phone-service/.env'
    mode: 0755

- name: PhoneService | Run composer to install dependencies
  shell: '{{ php_bin }} {{ composer_bin }} install {{ composer_flags }}'
  args:
    chdir: '{{ workspace }}/phone-service'

- name: PhoneService | Build docker image
  shell: 'docker build -t {{ stage }}-phone-service:latest .'
  args:
    chdir: '{{ workspace }}/phone-service'

- name: PhoneService | Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-phone-service:latest {{ image_name }}/{{ stage }}/phone-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/phone-service'
  loop:
    - '{{ version }}'
    - latest

- name: PhoneService | Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/phone-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/phone-service'
  loop:
    - '{{ version }}'
    - latest

### Deploy Phone Service
- name: Deploy Phone Service
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/phoneservice.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-phone-service-build'
    state: absent

- name: Phone-Service | Wait until container ready
  shell: |
    while [[ $(KUBECONFIG={{ kubeconfig }} kubectl -n {{ k8s_namespace }} get po -l app=app-{{ stage }}-{{ project_name }}-phone-service -o 'jsonpath={..status.conditions[?(@.type=="Ready")].status}') != "True" ]] ; do echo "waiting for pod" && sleep 1 ; done
  args:
    executable: /bin/bash

- name: Phone-Service | Get running phone service pod name
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl get pods -n {{ k8s_namespace }} | grep app-{{ stage }}-{{ project_name }}-phone-service | cut -d " " -f1'
  register: phone_pod_name

- name: Phone-Service | Change Ownership
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ phone_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/chown -R www-data:www-data /var/www/storage/ &'

- name: Phone-Service | Migrate DB
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ phone_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan migrate --force &'

- name: Phone-Service | Link storage folder to public
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ phone_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan storage:link &'

- name: Phone-Service | Clear caches
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ phone_pod_name.stdout }} -n {{ k8s_namespace }} su - www-data -- /usr/bin/php artisan {{ item }} &'
  loop:
    - cache:clear
