---

- name: TherapistService | Clone therapist service repos
  git:
    repo: git@git.web-essentials.asia:hiv-tra-20/therapist-service.git
    dest: '{{ workspace }}/therapist-service'
    accept_hostkey: yes
    version: '{{ git_branch }}'
    force: yes

- name: TherapistService | Copy deployment configuration
  template:
    src: 'internal/therapist-service/{{ item }}.j2'
    dest: '{{ workspace }}/therapist-service/{{ item }}'
    mode: 0755
  loop:
    - default.conf
    - Dockerfile
    - hi-task-scheduler
    - queue-worker.conf

- name: TherapistService | Copy .env
  template:
    src: 'internal/therapist-service/env.j2'
    dest: '{{ workspace }}/therapist-service/.env'
    mode: 0755

- name: TherapistService | Copy .env.dusk.local
  template:
    src: 'internal/therapist-service/env.dusk.local.j2'
    dest: '{{ workspace }}/therapist-service/..env.dusk.local'
    mode: 0755

- name: TherapistService | Run composer to install dependencies
  shell: '{{ php_bin }} {{ composer_bin }} install {{ composer_flags }}'
  args:
    chdir: '{{ workspace }}/therapist-service'

- name: TherapistService | Build docker image
  shell: 'docker build -t {{ stage }}-therapist-service:latest .'
  args:
    chdir: '{{ workspace }}/therapist-service'

- name: TherapistService | Tag docker image to hub.web-essentials.co
  shell: 'docker tag {{ stage }}-therapist-service:latest {{ image_name }}/{{ stage }}/therapist-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/therapist-service'
  loop:
    - '{{ version }}'
    - latest

- name: TherapistService | Push docker image to hub.web-essentials.co
  shell: 'docker push {{ image_name }}/{{ stage }}/therapist-service:{{ item }}'
  args:
    chdir: '{{ workspace }}/therapist-service'
  loop:
    - '{{ version }}'
    - latest

### Deploy Thearapist Service
- name: Deploy Therapist Service
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl apply -f {{ workspace }}/k8s-deploy/therapistservice.yml'

- name: Remove build file
  file:
    path: '/var/tmp/{{ project_id }}/{{ stage }}-therapist-service-build'
    state: absent

- name: Therapist-Service | Wait until container ready
  shell: |
    while [[ $(KUBECONFIG={{ kubeconfig }} kubectl -n {{ k8s_namespace }} get po -l app=app-{{ stage }}-{{ project_name }}-therapist-service -o 'jsonpath={..status.conditions[?(@.type=="Ready")].status}') != "True" ]] ; do echo "waiting for pod" && sleep 1 ; done
  args:
    executable: /bin/bash

- name: Therapist-Service | Get running admin service pod name
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl get pods -n {{ k8s_namespace }} | grep app-{{ stage }}-{{ project_name }}-therapist-service | cut -d " " -f1'
  register: therapist_pod_name

- name: Therapist-Service | Migrate DB
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ therapist_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/php artisan migrate --force &'

- name: Therapist-Service | Link storage folder to public
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ therapist_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/php artisan storage:link &'

- name: Therapist-Service | Change permission
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ therapist_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/chmod -R 0777 /var/www/storage/ &'

- name: Therapist-Service | Clear caches
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ therapist_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/php artisan {{ item }} &'
  loop:
    - cache:clear

- name: Therapist-Service | Import default system settings
  shell: 'KUBECONFIG={{ kubeconfig }} kubectl exec {{ therapist_pod_name.stdout }} -n {{ k8s_namespace }} -- /usr/bin/php artisan {{ item }} &'
  loop:
    - hi:create-backend-user
    - hi:keycloak-setup-permissions
